<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title">TVSchedule</ion-title>

    <ion-buttons end>
      <button *ngIf="!usuario" ion-button (click)="goToLogin()">
        <ion-icon name="log-in"></ion-icon>
      </button>

      <button *ngIf="usuario" ion-button color="dark" medium (click)="navPerfil()"><ion-icon name="contact"></ion-icon></button>

      <button *ngIf="usuario" ion-button color="danger" medium (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="page-home">
  <ion-card class="main-card" (click)="openSeriesPage()">
    <cl-image public-id="gotham"> </cl-image>
    <div class="card-title">Series</div>
  </ion-card>

  <ion-card (click)="openMoviesPage()">
    <cl-image public-id="resacon.jpg" ></cl-image>
    <div class="card-title">Movies</div>
  </ion-card>

  <ion-card (click)="openTVProgramPage()">
    <cl-image public-id="zapeando.jpg"></cl-image>
    <div class="card-title">TV Program</div>
  </ion-card>
</ion-content>
