page-series {
  .content-detail {
    background-color: rgb(70, 70, 70);
  }
  .item-detail {
    background-color: black;
    color: white;
  }
  #button-view {
    color: rgb(104, 137, 228);
  }

  .ion-nav {
    background-color: #FFF4D1;
  }
}
