page-tvprograms-detail {
  ion-buttons {
    text-align: center;
  }

  .content-detail {
    background-color: rgb(70, 70, 70);
    color: white;
  }
  .card-content{
    color: white;
  }
  .card-detail {
    background-color: black;
    color: white;
  }

  ion-card-title{
    color: white;
  }
  .card-title-wp{
    color:white;
  }
  .card-wp p{
    color:rgb(200, 200, 200);
  }
  .card-title-md{
    color:white;
  }
  .card-md p{
    color:rgb(200, 200, 200);
  }
  .card-title-ios{
    color:white;
  }

}
