page-series-detail {
  .details-content {

    background-color: black;
  }
  .details-card, p{
    background-color:black;
  }
  ion-card-title{
    color: white;
  }
  .card-title-wp{
    color:white;
  }
  .card-wp p{
    color:rgb(200, 200, 200);
  }
  .card-title-md{
    color:white;
  }
  .card-md p{
    color:rgb(200, 200, 200);
  }
  .card-title-ios{
    color:white;
  }
}
